 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1572px;
}

.u-section-1 .u-image-1 {
  width: 361px;
  height: 361px;
  background-image: url("images/357447218_2006290183046925_1669010849343804773_n.jpg");
  background-position: 50% 50%;
  margin: 60px auto 0;
}

.u-section-1 .u-text-1 {
  font-family: Bungee;
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: Itim;
  font-size: 2.6875rem;
  font-weight: 700;
  line-height: 1.4;
  margin: 18px 24px 0;
}

.u-section-1 .u-shape-1 {
  width: 195px;
  height: 196px;
  background-image: none;
  margin: 86px auto 0;
}

.u-section-1 .u-text-3 {
  font-family: Bungee;
  font-weight: 700;
  font-size: 1.5rem;
  width: 225px;
  margin: -111px auto 60px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1551px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}